/.idea/
/.ipynb_checkpoints/
/MEArec_simulations/intracellular/
/MEArec_simulations/physrot/
/recordings/
/spikeinterface/
/spikeinterface_tutorials/Spike_sorting_workshop_2019/recordings_36cells_four-tetrodes_30.0_10.0uV_20-06-2019_14_48.h5
/spikeinterface_tutorials/Spike_sorting_workshop_2019/recordings_50cells_SqMEA-10-15um_60.0_10.0uV_27-03-2019_13-31.h5
/Spyke_sorting/.ipynb_checkpoints/
/Spyke_sorting/phy_KL_split/
/Spyke_sorting/results_split_klusta/
/templates/
/venv/
